<%- include('../partials/header.ejs') %>
 
    <h3><%= skill.learned %></h3>
    <h3>Done: <%= skill.done ? 'true' : 'false' %></h3>
    <form
    action="/skills/<%= skill.id %>?_method=DELETE"
    method="POST"
    class="delete-form"
    >
    <button type="submit">X</button>
    </form>
<%- include('../partials/footer') %>
